<!DOCTYPE HTML>
<html>
<head>
    <title></title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--[if lte IE 8]>
    <script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css"/>
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="assets/css/ie9.css"/><![endif]-->
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="assets/css/ie8.css"/><![endif]-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body onload="Display_other()">
<% pets.forEach(function(pets) {%>
<!-- Wrapper -->
<% if(isLogined == false) { %>
<% res.redirect('/');%>
<% }%>
<div id="wrapper">
    <!-- Header -->
    <header id="header">
        <% include ./partials/head %>
    </header>

    <!-- Menu -->
    <section id="menu">
        <!-- Links -->
        <section>
            <ul class="links">
                <li>
                    <a href="#">
                        <h3>Sample</h3>
                        <p>Sample Test</p>
                    </a>
                </li>
            </ul>
        </section>

        <!-- Actions -->
        <section>
            <% if(isLogined){ %>
            <ul class="actions vertical">
                <li><a href="#" class="button big fit">Log Out</a></li>
            </ul>
            <% }else{ %>
            <ul class="actions vertical">
                <li><a href="login" class="button big fit">Log In</a></li>
            </ul>
            <!--<ul class="actions vertical">-->
            <!--<li><a href="#" class="button big fit">Sing In</a></li>-->
            <!--</ul>-->
            <% } %>
        </section>

    </section>

    <!-- Main -->
    <div id="main">
        <form id="form">
            <div class="form-group">
                <label for="emailaddr">Email address</label>
                <input type="email" name="emailaddr" class="form-control" id="emailaddr" aria-describedby="emailHelp"
                       placeholder="Enter email" readonly>
            </div>
            <div class="form-row">
                <div class="col-md-3 mb-3">
                    <label for="l_name">Last name</label>
                    <input type="text" name="l_name" class="form-control" id="l_name" placeholder="Last name"
                           readonly required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationCustomUsername">Username</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend">#</span>
                        </div>
                        <input type="text" name="username" class="form-control" id="username" placeholder="Username"
                               aria-describedby="inputGroupPrepend" readonly required>
                        <div class="invalid-feedback">
                            Please choose a username.
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="district">District</label>
                    <input type="text" name="district" class="form-control" id="district" placeholder="District"
                           readonly required>
                    <div class="invalid-feedback">
                        Please provide a valid District.
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="zone">Zone</label>
                    <input type="text" name="zone" class="form-control" id="zone" placeholder="Zone"
                           readonly required>
                    <div class="invalid-feedback">
                        Please provide a valid Zone.
                    </div>
                </div>

            </div>

            <div class = "form-row">
                <div class="col-md-3 mb-3">
                    <label for="p_name">Pet's name</label>
                    <input type="text" name="p_name" class="form-control" id="p_name" placeholder="Pet's name"
                           readonly required>
                    <div class="invalid-feedback">
                        Please tell us your pet's name.
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="p_age">Pet's age</label>
                    <input type="text" name="p_age" class="form-control" id="p_age" placeholder="Pet's age"
                           readonly required>
                    <div class="invalid-feedback">
                        Please tell us your pet's age.
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="p_gender">Pet's gender</label>
                    <input type="text" name="p_gender" class="form-control" id="p_gender" placeholder="Pet's gender"
                           readonly require>
                    <div class="invalid-feedback">
                        Please tell us your pet's gender.
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="p_type">Type of pet</label>
                    <input type="text" name="type_of_p" class="form-control" id="type_of_p" placeholder="Type of pet"
                           readonly required>
                    <div class="invalid-feedback">
                        Please provide your pet's type.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Pet's description</label>
                <textarea name="p_description" class="form-control" id="p_description" rows="8" style="border: none"
                          readonly><%=pets.p_description%></textarea>
            </div>
            <div class="alert alert-danger" role="alert" id="fail" style="display: none">
            </div>
            <div class="alert alert-success" role="alert" id="success" style="display: none">
                This is a success alert—check it out!
            </div>
            <button type="button" onclick="Return()">Match again</button>
            <button type="button" onclick="Contact()">Contact user</button>
        </form>

    </div>

</div>

<script>
    function Contact(){
        document.getElementById("form").method="GET";
        document.getElementById("form").action="/insertMessage";
        document.getElementById("form").submit();
    }

    function Return(){
        document.getElementById("form").method="POST";
        document.getElementById("form").action="/search";
        document.getElementById("form").submit();
    }

    function Display_other(){
        document.getElementById("emailaddr").value="<%=pets.emailaddr%>";
        document.getElementById("l_name").value="<%=pets.l_name%>";
        document.getElementById("username").value="<%=pets.username%>";
        document.getElementById("district").value="<%=pets.district%>";
        document.getElementById("zone").value="<%=pets.zone%>";
        document.getElementById("p_name").value="<%=pets.p_name%>";
        document.getElementById("p_age").value="<%=pets.p_age%>";
        document.getElementById("p_gender").value="<%=pets.p_gender%>";
        document.getElementById("type_of_p").value="<%=pets.type_of_p%>";
    }
    <%});%>
</script>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<!--[if lte IE 8]>
<script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="assets/js/main.js"></script>

</body>
</html>