<!DOCTYPE HTML>
<html>
<head>
    <title></title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--[if lte IE 8]>
    <script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css"/>
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="assets/css/ie9.css"/><![endif]-->
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="assets/css/ie8.css"/><![endif]-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body onload = "Display()">

<!-- Wrapper -->
<% if(isLogined == false) { %>
<% res.redirect('/');%>
<% }%>
<div id="wrapper">
    <!-- Header -->
    <header id="header">
        <% include ./partials/head %>
    </header>

    <!-- Menu -->
    <section id="menu">
        <!-- Links -->
        <section>
            <ul class="links">
                <li>
                    <a href="#">
                        <h3>Sample</h3>
                        <p>Sample Test</p>
                    </a>
                </li>
            </ul>
        </section>

        <!-- Actions -->
        <section>
            <% if(isLogined){ %>
            <form id="formLogout" action="logout" method="post">
                <ul class="actions vertical">
                    <li><a class="button big fit" onclick="document.getElementById('formLogout').submit();">Log Out</a></li>
                </ul>
            </form>
            <% }else{ %>

            <form id="formLogin" action="login" method="post">
                <div class="form-group">
                    <label for="exampleInputEmail1">Username</label>
                    <input type="text" class="form-control" id="username" aria-describedby="usernameHelp" placeholder="Username" name="username">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                </div>
            </form>

            <ul class="actions vertical">
                <li><a class="button big fit" id="startLogin" onclick="document.getElementById('formLogin').submit();">Log In</a></li>
            </ul>
            <!--<ul class="actions vertical">-->
            <!--<li><a href="#" class="button big fit">Sing In</a></li>-->
            <!--</ul>-->
            <% } %>
        </section>

    </section>

    <!-- Main -->
    <div id="main">
        <%pets.forEach(function(pets){%>
        <form>
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block" src="../uploads/<%= pets.username %>.jpg" height="200">
                    </div>
                </div>
            </div>
        </form>
        <bold>(For .jpg only)</bold>
        <%= typeof msg != 'undefined' ? msg : ' ' %>
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Disabled tooltip">
                 <input type="file" name="myImage" class="form-control-file" id="exampleFormControlFile1" >
                <button type="submit" class="button small fit">Upload</button>
            </span>
        </form>
        <bold>Your can upload two photo of your pets !</bold>
        <p>
            <bold>(For .jpg only)</bold>
        <div class="form-row">

        <%= typeof msg2 != 'undefined' ? msg2 : ' ' %>
            <p>
        <form action="/upload2" method="POST" enctype="multipart/form-data">
            <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Disabled tooltip">
                <img class="d-block" src="../images/<%= pets.username %>.jpg" height="200">
                <input type="file" name="myImage2" class="form-control-file" id="exampleFormControlFile1" >
                <button type="submit" class="button small fit">Upload</button>
            </span>
        </form>
        <%= typeof msg3 != 'undefined' ? msg3 : ' ' %>
        <p>
        <form action="/upload3" method="POST" enctype="multipart/form-data">
            <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Disabled tooltip">
                <img class="d-block" src="../images/<%= pets.username %>2.jpg" height="200">
                <input type="file" name="myImage3" class="form-control-file" id="exampleFormControlFile1" >
                <button type="submit" class="button small fit">Upload</button>
            </span>
        </form>
        </div>
        <form id="form">
            <div class="form-group">
                <label for="emailaddr">Email address</label>
                <input type="email" name="emailaddr" class="form-control" id="emailaddr" aria-describedby="emailHelp"
                       placeholder="Enter email" value="<%=pets.emailaddr%>">
            </div>
            <div class="form-group">
                <label for="passwd">Password</label>
                <input type="password" name="passwd" class="form-control" id="passwd"
                       value="<%=pets.password%>" placeholder="Password">
                <input type="checkbox" onclick="myFunction()">Show Password
            </div>

            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="f_name">First name</label>
                    <input type="text" name="f_name" class="form-control" id="f_name" placeholder="First name"
                           value="<%=pets.f_name%>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="l_name">Last name</label>
                    <input type="text" name="l_name" class="form-control" id="l_name" placeholder="Last name"
                           value="<%=pets.l_name%>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationCustomUsername">Username</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend">#</span>
                        </div>
                        <input type="text" name="name" class="form-control" id="validationCustomUsername" placeholder="Username"
                               aria-describedby="inputGroupPrepend" value="<%=pets.username%>"readonly required>
                        <div class="invalid-feedback">
                            Please choose a username.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="country">Country</label>
                    <input type="text" name="country" class="form-control" id="country" placeholder="Country"
                           value="<%=pets.country%>"required>
                    <div class="invalid-feedback">
                        Please provide a valid Country.
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="district">District</label>
                    <input type="text" name="district" class="form-control" id="district" placeholder="District"
                           value="<%=pets.district%>" required>
                    <div class="invalid-feedback">
                        Please provide a valid District.
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="zone">Zone</label>
                    <input type="text" name="zone" class="form-control" id="zone" placeholder="Zone"
                           value="<%=pets.zone%>" required>
                    <div class="invalid-feedback">
                        Please provide a valid Zone.
                    </div>
                </div>
            </div>
            <div class = "form-row">
                <div class="col-md-3 mb-3">
                    <label for="p_name">Pet's name</label>
                    <input type="text" name="p_name" class="form-control" id="p_name" placeholder="Pet's name"
                           value="<%=pets.p_name%>" required>
                    <div class="invalid-feedback">
                        Please tell us your pet's name.
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="p_age">Pet's age</label>
                    <input type="text" name="p_age" class="form-control" id="p_age" placeholder="Pet's age"
                           value="<%=pets.p_age%>" required>
                    <div class="invalid-feedback">
                        Please tell us your pet's age.
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="p_gender">Pet's gender</label>
                    <select name="p_gender" class="form-control" id="p_gender" required>
                        <option id="undefined" disabled="disabled">Please select</option>
                        <option name="p_gender" id="m" value ="m">M</option>
                        <option name="p_gender" id="f" value = "f">F</option>
                    </select>
                    <div class="invalid-feedback">
                        Please tell us your pet's gender.
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="type_of_p">Type of pet</label>
                    <select name="type_of_p" class="form-control" id="type_of_p" required>
                        <option id="undefined1" disabled="disabled">Please select</option>
                        <option name="type_of_p" id="dog" value ="dog">Dog</option>
                        <option name="type_of_p" id="cat" value ="cat">Cat</option>
                    </select>
                    <div class="invalid-feedback">
                        Please provide your pet's type.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Pet's description</label>
                <textarea name="p_description" class="form-control" id="p_description" rows="8"><%=pets.p_description%></textarea>
            </div>
            <button type="button" onclick="Check_type_and_gender();">Update</button>

            <div class="alert alert-danger" role="alert" id="failed" style="display: none">
            </div>

        </form>

    </div>

</div>

<script>
    function Display() {
        <% if(pets.p_gender == "m") {%>
        document.getElementById("m").selected = "true";
        <% } else if(pets.p_gender == "f") {%>
        document.getElementById("f").selected = "true";
        <%  }else {%>
        document.getElementById("undefined").selected = "true";
        <%}%>

        <% if(pets.type_of_p == "dog") {%>
        document.getElementById("dog").selected = "true";
        <% } else if(pets.type_of_p == "cat") {%>
        document.getElementById("cat").selected = "true";
        <%  }else {%>
        document.getElementById("undefined1").selected = "true";
        <%}%>

    }

    function Check_type_and_gender(){
        var p_gender = document.getElementById("p_gender").value;
        var type_of_p = document.getElementById("type_of_p").value;

        if((p_gender != "m" && p_gender != "f") || (type_of_p != "dog" && type_of_p != "cat")){
            document.getElementById("failed").style.display = 'block';
            document.getElementById("failed").innerHTML = "Please select your pet's gender/type.";
        }
        else{
            document.getElementById("form").method="POST";
            document.getElementById("form").action="/profile";
            document.getElementById("form").submit();
        }
    }

    <%});%>
    function myFunction() {
        var x = document.getElementById("passwd");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }


</script>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<!--[if lte IE 8]>
<script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="assets/js/main.js"></script>

</body>
</html>