<html>
<head>
    <title></title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--[if lte IE 8]>
    <script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css"/>
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="assets/css/ie9.css"/><![endif]-->
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="assets/css/ie8.css"/><![endif]-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <style>

        .btn {
            -webkit-border-radius: 28px;
            -moz-border-radius: 28px;
            border-radius: 28px;
            font-family: Arial;
            color: #ffffff;
            font-size: 20px;
            background: #9daab3;
            padding: 10px 20px 10px 20px;
            text-decoration: none;
            margin: 5px 5px 5px 5px;
        }

        .btn:hover {
            background: #3cb0fd;
            background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
            background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
            background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
            background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
            background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
            text-decoration: none;
        }

        .myImg {
            border-radius: 5px;
            cursor: pointer;
            transition: 0.3s;
            margin-left: 5px;
        }

        .myImg:hover {
            opacity: 0.7;
        }

        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 40px;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0, 0, 0); /* Fallback color */
            background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
        }

        /* Modal Content (Image) */
        .modal-content {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
        }

        /* Caption of Modal Image (Image Text) - Same Width as the Image */
        #caption {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
            text-align: center;
            color: #ccc;
            padding: 10px 0;
            height: 150px;
        }

        /* Add Animation - Zoom in the Modal */
        .modal-content, #caption {
            -webkit-animation-name: zoom;
            -webkit-animation-duration: 0.6s;
            animation-name: zoom;
            animation-duration: 0.6s;
        }

        @-webkit-keyframes zoom {
            from {
                -webkit-transform: scale(0)
            }
            to {
                -webkit-transform: scale(1)
            }
        }

        @keyframes zoom {
            from {
                transform: scale(0)
            }
            to {
                transform: scale(1)
            }
        }

        /* The Close Button */
        .close {
            position: absolute;
            top: 15px;
            right: 35px;
            color: #f1f1f1;
            font-size: 40px;
            font-weight: bold;
            transition: 0.3s;
        }

        .close:hover,
        .close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }

        /* 100% Image Width on Smaller Screens */
        @media only screen and (max-width: 700px) {
            .modal-content {
                width: 100%;
            }
        }

        .item2 {
            grid-area: menu;
        }

        .item3 {
            grid-area: main;
        }

        .w3-animate-opacity {
            animation: opac 0.8s
        }

        @keyframes opac {
            from {
                opacity: 0
            }
            to {
                opacity: 1
            }
        }

        .scrolling {
            overflow: auto;
        }

        .petRows {
            display: flex;
            flex-direction: row;
        }

        .petCols {
            display: flex;
            flex-direction: column;
        }

        .grid-container {
            display: grid;
            grid-template-areas: 'menu main main main main main main main'
            'menu main main main main main main main'
            'menu main main main main main main main';
            grid-gap: 10px;
            background-color: grey;
            padding: 10px;
            height: 500px;

        }

        .grid-container > div {
            background-color: rgba(255, 255, 255, 0.8);
            text-align: left;
            padding: 20px 20px;
            font-size: 20px;
            height: 460px;

        }

        hr {

            position: relative;
            padding: 0;
            margin: 8px auto;
            height: 0;
            width: 80%;
            max-height: 0;
            font-size: 1px;
            line-height: 0;
            clear: both;
            border: none;
            border-top: 1px solid #aaaaaa;
            border-bottom: 1px solid #ffffff;
        }

    </style>
</head>
<body>

<!-- Wrapper -->
<% if(isLogined == false) { %>
<% res.redirect('/');%>
<% }%>
<div id="wrapper">
    <!-- Header -->
    <header id="header">
        <% include ./partials/head %>
    </header>

    <!-- Menu -->
    <section id="menu">
        <!-- Links -->
        <section>
            <ul class="links">
                <li>
                </li>
            </ul>
        </section>

        <!-- Actions -->
        <section>
            <% if(isLogined){ %>
            <form id="formLogout" action="logout" method="post">
                <ul class="actions vertical">
                    <li><a class="button big fit" onclick="document.getElementById('formLogout').submit();">Log Out</a></li>
                </ul>
            </form>
            <% }else{ %>

            <form id="formLogin" action="login" method="post">
                <div class="form-group">
                    <label for="exampleInputEmail1">Username</label>
                    <input type="text" class="form-control" id="username" aria-describedby="usernameHelp" placeholder="Username" name="username">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                </div>
            </form>

            <ul class="actions vertical">
                <li><a class="button big fit" id="startLogin" onclick="document.getElementById('formLogin').submit();">Log In</a></li>
            </ul>
            <!--<ul class="actions vertical">-->
            <!--<li><a href="#" class="button big fit">Sing In</a></li>-->
            <!--</ul>-->
            <% } %>
        </section>

    </section>


    <div id="main">
        <h6>Searching and Matching</h6>



        <div class="grid-container">

            <div class="item2">
                <form method="POST" action="/search">
                    <label>Type of pets</label>
                    <br>
                    <select name="type_of_p">
                        <option value="dog">Dog</option>
                        <option value="cat">Cat</option>
                    </select>
                    <br>
                    <label>Gender</label>
                    <br>
                    <input type="radio" name="p_gender" value="m" checked> Male<br>
                    <input type="radio" name="p_gender" value="f"> Female<br>

                    <label>Pets' years_old</label>
                    <br>
                    <br>
                    <input type="range" name="p_age" min="1" max="8" value="8" id="myRange">
                    <br>
                    <p>Under <span id="demo"></span> years_old</p>

                    <input type="submit" value="Filter">
                </form>
            </div>
            <div class="item3 w3-animate-opacity scrolling">

                <h3>Pet list</h3>



                <% pets.forEach(function(pets){ %>
                <% if(pets.type_of_p == type_of_p && pets.p_gender == p_gender && pets.p_age < p_age) { %>
                <img class="myImg" src="/images/<%= pets.username %>.jpg" alt="pet photo" style="height:180px;float:right;">

                <img class="myImg" src="/images/<%= pets.username %>2.jpg" alt="pet photo" style="height:180px;float:right;">

                <!-- The Modal -->
                <div id="myModal" class="modal">

                    <!-- The Close Button -->
                    <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>

                    <!-- Modal Content (The Image) -->
                    <img class="modal-content" id="img01">

                    <!-- Modal Caption (Image Text) -->
                    <div id="caption"></div>
                </div>
                <p>Name: <%= pets.p_name %></p>
                <p>Type: <%= pets.type_of_p %></p>
                <p  >Gender: <%= pets.p_gender %></p>

                <p>Years_old: <%= pets.p_age %></p>
                <form action="/contact" method="POST">

                    <input type="hidden" name="username" value="<%=pets.username%>">
                    <input type="submit" class="btn" value="Click to know more !">
                </form>
                <hr>

                <% } %>
                <% }); %>

            </div>
        </div>
    </div>
</div>

<script>
    var slider = document.getElementById("myRange");
    var output = document.getElementById("demo");
    output.innerHTML = slider.value;

    slider.oninput = function () {
        output.innerHTML = this.value;
    }

    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = $('.myImg');
    var modalImg = $("#img01");
    var captionText = document.getElementById("caption");
    $('.myImg').click(function () {
        modal.style.display = "block";
        var newSrc = this.src;
        modalImg.attr('src', newSrc);
        captionText.innerHTML = this.alt;
    });

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    function message() {

        var person = prompt("Please enter your name:", "Harry Potter");
        return person;
    }
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<!--[if lte IE 8]>
<script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="assets/js/main.js"></script>
</body>
</html>
